Makefile
Makefile.in
aclocal.m4
autom4te.cache
axftp
axftpd
axkeys
axsh
axshd
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
.deps
.dirstamp
examples/client
examples/client_lockcheck
examples/client_sign
examples/server
examples/server_sign
install-sh
missing
stamp-h1
