COPYING
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
gridsquares
indata/
install-sh
missing
out.distday/
.deps
.dirstamp
stamp-h1
todistday
